<mat-card>
  <mat-card-header>
    <mat-card-title>Persona</mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]="fieldset">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text [field]="cens" [title]="'Cens'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
        <core-input-text [field]="comision" [title]="'Comision'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
      </div>
    </div>  
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text [field]="tramo" [title]="'Tramo'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>        
        <core-input-text [field]="numeroDocumento" [title]="'Numero Documento'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
      </div>
    </div>  
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text [field]="apellidos" [title]="'Apellidos'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
        <core-input-text [field]="nombres" [title]="'Nombres'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
      </div>
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text [field]="genero" [title]="'Genero'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
        <core-input-text [field]="telefono" [title]="'Telefono'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
      </div>
    </div>  
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text [field]="correo" [title]="'Correo'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
        <core-input-text [field]="cuil" [title]="'Cuil'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>    
      </div>
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-text [field]="comision2020" [title]="'Comision 2020'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
        <core-input-checkbox [field]="archivo2019" [title]="'Archivo 2019'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-checkbox>
      </div>
    </div>  

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
          
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-date [field]="fechaNacimiento" [title]="'Fecha Nacimiento'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-date>
      </div>
    </div>  
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxFlex.lt-md="100%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-textarea [field]="error" [title]="'Error'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-textarea>
        <core-input-text [field]="idComision" [title]="'Id Comision'" fxFlex="50%" fxFlex.xs="100%" fxLayoutAlign="center center"></core-input-text>
      </div>
    </div>    
  </mat-card-content>
</mat-card>
