<mat-card *ngIf="load$ | async" [formGroup]="fieldset">
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    </div>  
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="50%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-select-value fxFlex="50%" [entityName]="'persona'" [fieldName]="'cens'" [field]="cens"></core-input-select-value>
        <core-input-autocomplete-value fxFlex="50%" [entityName]="'persona'" [fieldName]="'sede'" [field]="sede"></core-input-autocomplete-value>
      </div>
      <div fxLayout="row" fxFlex="50%" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-autocomplete-value fxFlex="50%" [entityName]="'persona'" [fieldName]="'comision'" [field]="comision"></core-input-autocomplete-value>
        <core-input-select-value fxFlex="50%" [entityName]="'persona'" [fieldName]="'tramo'" [field]="tramo"></core-input-select-value>
      </div>
    </div>  
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="auto" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-autocomplete-value fxFlex="50%" [entityName]="'persona'" [fieldName]="'identificador'" [field]="identificador"></core-input-autocomplete-value>
        <core-input-autocomplete-value fxFlex="50%" [entityName]="'persona'" [fieldName]="'numero_inscripcion'" [field]="numeroInscripcion"></core-input-autocomplete-value>
      </div>
      <div fxLayout="row" fxFlex="auto" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-autocomplete-value fxFlex="50%" [entityName]="'persona'" [fieldName]="'numero_documento'" [field]="numeroDocumento"></core-input-autocomplete-value>
        <core-input-autocomplete-value fxFlex="50%" [entityName]="'persona'" [fieldName]="'apellidos'" [field]="apellidos"></core-input-autocomplete-value>
      </div>
    </div>  
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="auto" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-autocomplete-value fxFlex="50%" [entityName]="'persona'" [fieldName]="'nombres'" [field]="nombres"></core-input-autocomplete-value>
        <core-input-select-value fxFlex="50%" [entityName]="'persona'" [fieldName]="'genero'" [field]="genero"></core-input-select-value>
      </div>
      <div fxLayout="row" fxFlex="auto" fxLayoutGap="10px" fxLayout.xs="column">
        <div fxFlex="auto">
          <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono" >
          </mat-form-field>
        </div>
        <div fxFlex="auto">
          <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo" >
          </mat-form-field>
        </div>
      </div>
    </div>  
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
      <div fxLayout="row" fxFlex="auto" fxLayoutGap="10px" fxLayout.xs="column">
        <core-input-select-value fxFlex="33%" [entityName]="'persona'" [fieldName]="'turno'" [field]="turno"></core-input-select-value>
        <core-input-autocomplete-value fxFlex="33%" [entityName]="'persona'" [fieldName]="'comision_2020'" [field]="comision2020"></core-input-autocomplete-value>
        <core-input-autocomplete-value fxFlex="33%" [entityName]="'persona'" [fieldName]="'id_comision'" [field]="idComision"></core-input-autocomplete-value>
      </div>
    </div>    
   
  </mat-card-content>
</mat-card>
